@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid #ddd;
  background-color: rgb(4, 30, 97);
  color: white;
  font-weight: bold;
  gap: 20px;
}

.home-container{
  background-image: url(../public/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.change-btn{
  border: 2px solid white;
  background-color: white;
  padding: 10px;
  margin: 20px;
  font-weight: bold;
  border-radius: 20px;

}
.poster-box{
  padding-left: 50px;
}

.home-title{
  color: beige;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
}

.poster-title{
  margin-top: 10px;
  border: 2px solid beige;
  background-color: beige;
  font-weight: bold;
  width: 300px;
  height: 50px;
  align-items: center;
}

